body {
  /*background-color: blue;*/
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Work Sans', sans-serif;
  background-color: #efefef;
}

.button:hover {
  cursor: pointer;
}

p.title {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.3vw;
  margin: 0;
  font-weight: 400;
  font-family: "IBM Plex Mono", monospace;
  text-transform: uppercase;
  letter-spacing: 0.3vw;
}

p.tag-selection {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.1vw;
  margin: 0;
  font-weight: 400;
}

.button-text {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.1vw;
  letter-spacing: 3pt;
  font-family: "IBM Plex Mono", monospace;
}

.title-line {
  position: absolute;
  bottom: 0;
  left: 49.8%;
  height: 50%;
  border: 1px solid white;
}

#wraper {
  width: 100%;
  height: auto;
  position: absolute;
  font-size: 0;
  text-align: left;
  position: absolute;
  /*top: 50%;*/
  /*transform: translate(-50%, -50%);*/
}

.box {
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  background-color: #efefef;
  border: 1px solid white;
  color: black;
  position: relative;
  text-align: center;
}

.box2 {
  text-align: center;
/*  font-family: 'IBM Plex Serif', serif;*/
  line-height: 3.8vh;
  text-transform: uppercase;
}

#mmm-btn {
  background-image: url("../assets/mmm.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#pb-btn {
  background-image: url("../assets/pb.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#stc-btn {
  background-image: url("../assets/stc.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.mmm-visited {
  background-image: url("../../menu/assets/millionmagamarch.svg") !important;
  background-size: cover !important;
}


.pb-visited {
  background-image: url("../../menu/assets/proudboys.svg") !important;
  background-size: cover !important;
}

.stc-visited {
  background-image: url("../../menu/assets/savethechildren.svg") !important;
  background-size: cover !important;
}

.hovering-btn {
  background-image: url("none") !important;
}
