/* ########## FONT ########## */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: Messapia-Bold;
  src: url('../font/Messapia-Bold.woff') format('woff'),
    url('../font/Messapia-Bold.woff2') format('woff2')
}

/* ########## DOM ########## */
html {
  --color-back-main: white;
  --color-back-header: #9437FF;
  --color-back-footer: #9437FF;
  --color-main: #9437FF;
  --color-text-primary: white;
  --color-text-secondary: #FF0009;
  --font-secondary: Messapia-Bold;
  --font-text: "Inter", sans-serif;
  --font-light: 300;
  --font-reg: 400;
  --font-med: 500;
  --font-bold: 600;
  --font-xbold: 700;
  --font-xxbold: 800;
  --fontitalic: italic;
  --fontsize-title: 18px;
  --fontsize-titleSection: 30px;
  --fontsize-nav: 14px;
  --fontsize-typeMedical: 30px;
  --fontsize-clinicName: 18px;
  --fontsize-info: 15px;
  --fontsize-typeOp: 20px;
}

body {
  background-color: var(--color-back-main);
}

footer {
  background-color: var(--color-back-footer);
  color: var(--color-text-primary);
  margin-top: 40px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

nav {
  background-color: var(--color-back-footer);
}

.websiteMargin {
  margin-left: 250px;
  margin-right: 250px;
}

.ptMob {
  padding-top: 100px;
}

.displayMobile {
  display: none;
}

.displayDesk {
  display: initial;
}

/* ########## MAP ########## */
#map {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  margin-top: 25px;
  border: 3px solid var(--color-main);
}

.popUpText {
  font-family: var(--font-secondary);
  text-decoration: none;
  font-size: 8.5px;
  color: black !important;
}

.leaflet-container a {
  color: var(--color-main);
}

/* ########## TYPE ########## */
.mainTitleSection {
  font-family: var(--font-secondary);
  font-weight: var(--font-bold);
  font-size: var(--fontsize-titleSection);
  color: var(--color-main);
}

.alert {
  padding: 0;
  margin-bottom: 0;
  border-radius: 0;
  border: 0;
}

.paddingV2T {
  padding-top: 40px;
}

/* ########## UTILITY ########## */
.backgroundSection1 {
  background-color: #FF0009;
  background-image: radial-gradient(circle, rgba(255, 0, 9, 1), rgba(255, 0, 9, 0.5)),
    url('../svg/bannerHome/a.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* ########## DISMISSABLE ALERT ########## */
.colorDismissable {
  border: 0;
  background-color: #FDEF4B;
}

.dismiss {
  color: #FF0009;
  font-weight: var(--font-med);
}

.clickHere {
  font-family: var(--font-text);
  font-weight: var(--font-bold);
  color: #FF0009;
  text-decoration: underline;
}

.clickHere:hover {
  color: #FF0009 !important;
}

/* ########## MARQUEE ########## */
.marquee {
  overflow: hidden;
  --offset: 0vw;
  --move-initial: calc(-5% + var(--offset));
  --move-final: calc(-20% + var(--offset));
}

.marquee__inner {
  width: fit-content;
  display: flex;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 5s linear infinite;
  animation-play-state: paused;
}

.marquee span {
  font-size: 25px;
  padding: 0 2vw;
  font-family: var(--font-text);
  font-weight: var(--font-bold);
  font-style: var(--fontitalic);
  color: var(--color-text-secondary);
}

.country span {
  color: #FDEF4B;
}

.marquee__inner {
  animation-play-state: running;
}

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}

/* ########## SIDENAV ########## */
.marginMenu {
  padding-left: 20px !important;
}

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  height: 100vh;
  z-index: 1050;
  background: var(--color-main);
  color: #fff;
  transition: all 0.3s;
  overflow-y: scroll;
  font-family: var(--font-text);
}

.secCat {
  font-weight: var(--font-bold);
}

#sidebar.active {
  left: 0;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#dismiss {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: var(--color-main);
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#dismiss:hover {
  background: #FDEF4B;
  color: #FF0009;
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.overlay.active {
  display: block;
  opacity: 1;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: var(--color-main);
}

#sidebar ul.components {
  padding: 20px 0;
  /* border-bottom: 1px solid #47748b; */
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebarCollapse {
  cursor: pointer;
  color: #fff;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: white;
}

#sidebar ul li a:hover {
  color: var(--color-text-secondary);
  background: #FDEF4B;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  background: var(--color-main);
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: var(--color-main);
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: var(--color-main);
}

a.article,
a.article:hover {
  background: var(--color-main) !important;
  color: #fff !important;
}

/* ########## NAVBAR ########## */
.paddingNav {
  padding-top: 5px;
  padding-bottom: 5px;
}

.marginNavSx {
  margin-left: 50px;
}

.marginNavDx {
  margin-right: 50px;
}

.logo {
  width: 400px;
}

.navBackground {
  background-color: var(--color-back-header);
}

.nav-link {
  color: white;
}

.navFont {
  color: var(--color-text-primary);
  font-family: var(--font-text);
  font-weight: var(--font-reg);
  font-size: var(--fontsize-title);
}

.firstTextContainer {
  background-color: #FDEF4B;
  /* border: 1px solid black; */
}

.firstTextContainerCountry {
  background-color: var(--color-text-secondary);
}

.firstText {
  font-family: var(--font-text);
  font-weight: var(--font-bold);
  color: var(--color-text-secondary);
  font-size: var(--fontsize-nav);
}

/* ########## INTROTEXT ########## */
.introTextContainer {
  text-align: center;
}

.introText {
  font-family: var(--font-text);
  font-weight: var(--font-light);
  color: white;
  font-size: 20px;
  line-height: 24px;
}

.introText2 {
  font-weight: var(--font-bold);
}

/* ########## HOME PAGE ########## */
.borderBodyPic {
  border-radius: 10px 10px 0 0;
  border: 2px solid var(--color-main);
}

.borderBodyText {
  border-radius: 0 0 10px 10px;
  border: 2px solid var(--color-main);
}

.categoryBodyText {
  font-family: var(--font-secondary);
  background-color: var(--color-main);
  color: #FDEF4B;
  font-size: var(--fontsize-title);
}

/* ########## CATEGORY PAGE ########## */
.paddingCard {
  padding-top: 40px;
}

.backButton {
  background-color: var(--color-main);
  border-radius: 10px;
  border: 1.5px solid var(--color-main);
  padding: 5px 10px 5px 10px;
  color: white;
}

/* ########## PRODUCT PAGE ########## */
.imgCarouselProduct {
  border-radius: 20px;
  border: 3px solid var(--color-main);
  /* height: 380px;*/
}

.borderInfo {
  border-radius: 20px;
  border: 3px solid var(--color-main);
}

.freccia {
  /*background-color: #293133;*/
  color: white;
  /*padding: 3px 7px;
    border-radius: 5px;
    opacity: 0.7;*/
}

.profileName {
  font-family: var(--font-text);
  font-weight: var(--font-xbold);
  font-size: var(--fontsize-clinicName);
}

.clinicName {
  font-family: var(--font-text);
  font-weight: var(--font-reg);
  font-size: var(--fontsize-info);
}

.countryClinic {
  padding: 3px 6px;
  border-radius: 10px;
  color: var(--color-main);
  font-weight: var(--font-med);
  border: 2.5px solid var(--color-main);
}

.followers {
  font-family: var(--font-text);
  font-weight: var(--font-reg);
  font-size: var(--fontsize-info);
}

.profileView {
  color: #FDEF4B;
  background-color: var(--color-main);
  padding: 5px 15px;
  border-radius: 10px;
  font-family: var(--font-secondary);
}

.website {
  font-family: var(--font-text);
  font-weight: var(--font-bold);
  font-size: var(--fontsize-info);
}

.borderPrice {
  border-radius: 20px;
  border: 3px solid var(--color-text-secondary);
  background-color: #FDEF4B;
}

.typeOperation {
  font-family: var(--font-text);
  font-weight: var(--font-xbold);
  font-size: 25px;
  color: var(--color-text-secondary);
  line-height: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
}

.price {
  font-family: var(--font-secondary);
  font-weight: var(--font-xbold);
  font-size: 35px;
  color: var(--color-text-secondary);
  padding-right: 20px;
  padding-left: 5px;
}

.deal {
  color: #FDEF4B;
  background-color: #FF0009;
  padding: 5px 15px;
  border-radius: 10px;
  font-family: var(--font-secondary);
}

.username {
  font-family: var(--font-text);
  font-weight: var(--font-bold);
  color: var(--color-main);
}

.review {
  font-family: var(--font-text);
  font-weight: var(--font-light);
}

.reviewLine {
  padding-top: 1.5rem;
}

/* ########## ABOUT PAGE ########## */
.accAbout {
  border: 3px solid var(--color-main);
  border-radius: 10px;
}

.accAboutRed {
  border: 3px solid var(--color-text-secondary);
  border-radius: 10px;
}

.acc-title {
  background-color: white !important;
  border-radius: 10px;
  font-family: var(--font-secondary);
  color: var(--color-main);
}

.acc-titleRed {
  background-color: white !important;
  border-radius: 10px;
  font-family: var(--font-secondary);
  color: var(--color-text-secondary);
}

.uk-accordion-title:focus, .uk-accordion-title:hover {
  color: var(--color-main);
}

.acc-titleRed:focus, .acc-titleRed:hover {
  color: var(--color-text-secondary);
}

#provared::before {
  background-image: url(../svg/about/plusRed.svg);
}

.uk-open>#provared::before {
  background-image: url(../svg/about/minusRed.svg);
}

#provav::before {
  background-image: url(../svg/about/plus.svg);
}

.uk-open>#provav::before {
  background-image: url(../svg/about/minus.svg);
}

.imgResearch {
  border-radius: 15px;
  border: 3px solid var(--color-main);
}

.imgResearchRed {
  border-radius: 15px;
  border: 3px solid var(--color-text-secondary);
}

.textAbout {
  padding-left: 40px;
  padding-right: 40px;
}

.textAboutRed {
  padding-left: 40px;
  padding-right: 40px;
}

.textAbout>p {
  font-family: var(--font-text);
  color: black;
}

.textAboutRed>p {
  font-family: var(--font-text);
  color: black;
}

.textAbout>span {
  font-size: var(--fontsize-info);
  color: var(--color-main);
}

.descr {
  color: var(--color-main);
}

.textFoot {
  font-size: 10px;
}

.faculty>p {
  font-family: var(--font-secondary);
  font-size: 15px;
  color: var(--color-main);
}

.mauri {
  cursor: url("../cursors/mauri.png"), auto;
}

.colombo {
  cursor: url("../cursors/colombo.png"), auto;
}

.briones {
  cursor: url("../cursors/briones.png"), auto;
}

.vant {
  cursor: url("../cursors/vant.png"), auto;
}

.zing {
  cursor: url("../cursors/zing.png"), auto;
}

.ben {
  cursor: url("../cursors/bened.png"), auto;
}

.gobbo {
  cursor: url("../cursors/gob.png"), auto;
}

.elli {
  cursor: url("../cursors/elli.png"), auto;
}

.febres {
  cursor: url("../cursors/febres.png"), auto;
}

.anto {
  cursor: url("../cursors/anto.png"), auto;
}

.bet {
  cursor: url("../cursors/bet.png"), auto;
}

@media only screen and (min-width: 2050px) {
  .websiteMargin {
    margin-left: 700px;
    margin-right: 700px;
  }
}

@media (max-width:2000px) and (min-width:1600px) {
  .websiteMargin {
    margin-left: 350px;
    margin-right: 350px;
  }
}

@media (max-width:1600px) and (min-width:1350px) {
  .websiteMargin {
    margin-left: 260px;
    margin-right: 260px;
  }
}

/* medium screen */
@media only screen and (max-width: 1350px) {
  .websiteMargin {
    margin-left: 150px;
    margin-right: 150px;
  }
}

/* little screen */
@media only screen and (max-width: 1130px) {
  .websiteMargin {
    margin-left: 50px;
    margin-right: 50px;
  }
}

/* little screen */
@media only screen and (max-width: 1000px) {
  .websiteMargin {
    margin-left: 10px;
    margin-right: 10px;
  }

  .paddingV2 {
    padding-top: 25px;
  }

  .paddingV2T {
    padding-top: 25px;
  }
}

/* iphone */
@media only screen and (max-width: 990px) {
  .websiteMargin {
    margin-left: 10px;
    margin-right: 10px;
  }

  .displayMobile {
    display: initial;
  }

  .displayDesk {
    display: none;
  }

  /* ########## NAVBAR ########## */
  .marginNavSx {
    margin-left: 15px;
  }

  .marginNavDx {
    margin-right: 15px;
  }

  .logo {
    width: 250px;
  }

  /* ########## DISMISSABLE ALERT ########## */
  .dismiss {
    color: #FF0009;
    font-weight: var(--font-med);
    font-size: 11px;
  }

  /* ########## HOME PAGE ########## */
  .firstText {
    font-family: var(--font-text);
    font-weight: var(--font-bold);
    color: var(--color-text-secondary) !important;
    text-align: center;
    font-size: 10px;
  }

  .backgroundSection1 {
    background-color: #FF0009;
    background-image: radial-gradient(circle, rgba(255, 0, 9, 1), rgba(255, 0, 9, 0.6)),
      url('../svg/bannerHome/b.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .introText {
    font-family: var(--font-text);
    font-weight: var(--font-light);
    color: white;
    font-size: 15px;
    line-height: 15px;
  }

  .introText2 {
    font-weight: var(--font-bold);
  }

  .mainTitleSection {
    font-family: var(--font-secondary);
    font-weight: var(--font-bold);
    font-size: 20px;
    color: var(--color-main);
  }

  .categoryBodyText {
    font-family: var(--font-secondary);
    background-color: var(--color-main);
    color: #FDEF4B;
    font-size: 12px;
  }

  /* ########## MARQUEE ########## */
  .marquee span {
    font-size: 15px;
    padding: 0 2vw;
    font-family: var(--font-text);
    font-weight: var(--font-bold);
    font-style: var(--fontitalic);
    color: var(--color-text-secondary);
  }

  .firstTextContainerCountry {
    background-color: var(--color-text-secondary);
  }

  .country span {
    color: #FDEF4B;
  }

  /* ########## PRODUCT PAGE ########## */
  .profileName {
    font-family: var(--font-text);
    font-weight: var(--font-xbold);
    font-size: 15px;
  }

  .clinicName {
    font-family: var(--font-text);
    font-weight: var(--font-reg);
    font-size: 15px;
  }

  .followers {
    font-family: var(--font-text);
    font-weight: var(--font-reg);
    font-size: 12px;
  }

  .price {
    font-family: var(--font-secondary);
    font-weight: var(--font-xbold);
    font-size: 20px;
    color: var(--color-text-secondary);
    padding-right: 20px;
    padding-left: 5px;
  }

  .deal {
    color: #FDEF4B;
    background-color: #FF0009;
    padding: 10px 15px;
    border-radius: 10px;
    font-family: var(--font-secondary);
    font-size: 12px;
  }

  .typeOperation {
    font-family: var(--font-text);
    font-weight: var(--font-xbold);
    font-size: 25px;
    color: var(--color-text-secondary);
    line-height: 25px;
    padding-top: 5px;
    padding-left: 0;
  }

  .profileView {
    color: #FDEF4B;
    background-color: var(--color-main);
    padding: 10px 15px;
    border-radius: 10px;
    font-family: var(--font-secondary);
    font-size: 12px;
  }

  .ptMob {
    padding-top: 0;
  }

  .acc-titleRed {
    background-color: white !important;
    border-radius: 10px;
    font-size: 18px;
    font-family: var(--font-secondary);
    color: var(--color-text-secondary);
  }

  .paddingV2 {
    padding-top: 25px;
  }

  .paddingV2T {
    padding-top: 25px;
  }
}
